services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: exam
      POSTGRES_PASSWORD: exam
      POSTGRES_DB: user_platform
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    depends_on:
      - db
    env_file:
      - ./auth_service/.env
    ports:
      - "5000:5000"
    volumes:
      - ./auth_service:/app/auth_service
    # Если захотим запускать миграцию автоматически, можно раскомментировать команду ниже,
    # но лучше запускать миграции вручную после ожидания старта БД:
    # command: ["sh", "-c", "cd auth_service && alembic upgrade head && python -m auth_service.app"]
    restart: unless-stopped

volumes:
  db-data:
